body {
    font-family: 'Montserrat', sans-serif;
}

h1, h3 {
    text-align: center;
}

label{
    display: block;
}

input{
    font-size: 1em;
    height: 2em;
    width: 80%;
}

button{
    margin: 0.4em;
    height: 2em;
    width: 8em;
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
}

button:hover{
    opacity: 0.6;
}

@media (max-width: 1024px){
    .grid-container{
        display: grid;
        grid-template-rows: repeat(4, 5em);
        margin: 1.5em;
        text-align: center;
        row-gap: 3em;
    }
    
    .message-input-section{
        grid-row-start: 3;
        grid-row-end: 3;
        display: none;
    }
    
    .username-section{
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .messages-section{
        grid-row-start: 2;
        grid-row-end: 2;
    }
}
@media (min-width: 1025px){
    .grid-container{
        display: grid;
        grid-template-columns: 1.5fr 2fr 1.5fr;
        grid-template-rows: repeat(4, 5em);
        margin: 4em;
    }
    
    .message-input-section{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        display: none;
    }
    
    .username-section{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .messages-section{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

#messages-area{
    height: 100%;
    width: 90%;
    font-size: 1.2em;
    color: #000000;
}